body {

}
.o-system-container{
h1,
h2,
h3,
h4,
h5,
h6 {
  color:$main;
}
p,
li,
td,
th {
  color: $p;
}
b,
strong {
}
a {
  color:$main;
  text-decoration: none;
  @include trans;
  &:active {
    color: darken($main, 20%);
  }
  &:hover {
    color: lighten($main, 20%);
  }
}
.text-center{
  text-align: center;
  display: block;
}

}

.o-systm-btn{
    cursor: pointer;
    background-color: $main;
    color:#fff!important;
    text-align: center;
    font-size: 21px;
    border:none;
    border-radius:6px;
    padding: 10px 30px;
    margin: 10px 0;
    display: block;
    width: 100%;
  }
