body {

}
h1,
h2,
h3,
h4,
h5,
h6 {
  color:$main;
}
p,
li,
td,
th {
  color: $p;
}
b,
strong {
}
a {
  text-decoration: none;
  @include trans;
  &:active {
    color: darken($main, 20%);
  }
  &:hover {
    color: lighten($main, 20%);
  }
}